

/* ************ ADD YOUR CUSTOM STYLES ************ */



/****************/
/*   BAR-CHART  */
/****************/



#headlogo{
  position: relative;
  width: 100%;
  height: 200px;
  background: navajowhite;
}

.logo{
  position: absolute;
  left: 5%;
  top: 10px;
}

h1{
  position: absolute;
  color: lightseagreen;
  font-family: "Brush Script MT", "Nature Beauty", cursive;
  font-size: 70px;
  margin-top: 60px;
  margin-left: 28%;
  margin-right: auto;
}


label{
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}


select {
  margin-left: 60px;
  margin-right: 80px;
  padding: 0 1em 0 0;
  width: 220px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  margin-bottom: 50px;
}



.tablesummary{
  margin-top: 60px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}


.bar {
  fill: #3C948B;
}

.bar:hover {
  fill: #8E7060;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x-axis path {
  display: none;
}

.axis-title {
	fill: #888;
	font-size: 11px;
}


/****************/
/*   TOOLTIPS   */
/****************/

#tooltip {
  position: absolute;
  width: 100px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}